@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

html{
    overflow: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
button {
	margin-top: 10px;
}
canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-item {
	margin-right: 5px;
}

#main{
	background: #F0F0F0;
	position: absolute;
	overflow: none;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-top: -10%;
}

#gameWindow{
	background: white;
	overflow: none;
	display: none;
    height: 900px;
}
#createWindow{
    margin-top: 1%;
    background: white;
	overflow: hidden;
	display: none;
    height: 768px;
}

div.map-image{
    margin: 5px;
    float: left;
    width: 256px;
}
div.map-image img{
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
  }
#game-title{
    font-family: "San Francisco";
    font-size: 72px;
}

.play-container {
    background-color: white;
    height: 250px;
    width:  50%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}
.create-container{
    background-color: white;
    height: 100px;
    width:  50%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}