body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #F0F0F0;
    height: 900px;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

#game-title{
    font-family: "San Francisco";
    font-size: 72px;
}

.play-container {
    display: block;
    background-color: white;
    height: 200px;
    width:  50%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}